<a href="https://colab.research.google.com/github/starlight22106/PEMWEB/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nilai = {'Firda':89, 'Siti':90, 'Ani':100, 'Uus':98}
print("Data nilai", nilai)
for skor in nilai.values():
  print("Data Nilai :", skor)
for nama in nilai.keys():
  print("Data Nama :", nama)  
for nama,skor in nilai.items():
  print("Data Nama: %s \t Nilai: %i " % (nama, skor))

Data nilai {'Firda': 89, 'Siti': 90, 'Ani': 100, 'Uus': 98}
Data Nilai : 89
Data Nilai : 90
Data Nilai : 100
Data Nilai : 98
Data Nama : Firda
Data Nama : Siti
Data Nama : Ani
Data Nama : Uus
Data Nama: Firda 	 Nilai: 89
Data Nama: Siti 	 Nilai: 90
Data Nama: Ani 	 Nilai: 100
Data Nama: Uus 	 Nilai: 98

In [ ]:
#pembuatan dictionary
s1 = {'nama':'Budi', 'nilai':75, "mapel":'Matematika'}
s2 = {'nama' : 'Dewi', 'nilai':55, "mapel":'IPA'}
s3 = {'nama' : 'Ani', 'nilai':95, "mapel":'IPS'}
s4 = {'nama' : 'Bedu', 'nilai':30, "mapel":'Agama'}
#pembuatan list
ar_siswa = [s1,s2,s3,s4]
for siswa in ar_siswa:
  for key,data in siswa.items():
    skor = siswa ['nilai']
    ket = ('Gagal', 'lulus')[skor >= 60]
    if skor >= 85 and skor <= 100: 
      grade = 'A'
      predikat = 'Memuaskan'
    elif skor >= 75 and skor <= 85:
      grade = 'B'
      predikat = 'Bagus'
    elif skor >= 60 and skor <= 75:
      grade = 'C'
      predikat = 'Cukup'
    elif skor >= 30 and skor <= 60:
      grade = 'D'
      predikat = 'Kurang'
    else:
      grade = ''
      predikat = ''  
    print(key, ':', data)
  print('Keterangan', ket, 'Grade', grade, 'Predikat', predikat)

nama : Budi
nilai : 75
mapel : Matematika
Keterangan lulus Grade B Predikat Bagus
nama : Dewi
nilai : 55
mapel : IPA
Keterangan Gagal Grade D Predikat Kurang
nama : Ani
nilai : 95
mapel : IPS
Keterangan lulus Grade A Predikat Memuaskan
nama : Bedu
nilai : 30
mapel : Agama
Keterangan Gagal Grade D Predikat Kurang

In [ ]:
#nested tuple
gorengan = ('bakwan', 'combro', 'misro')
sop = ('sop iga', 'sop buntut', 'sop sapi')
nasi = ('nasi uduk', 'nasi goreng', 'nasi rames' )
makanan = (gorengan, sop, nasi)
print(makanan[1][1])