<a href="https://colab.research.google.com/github/starlight22106/PEMWEB/blob/main/tugas1_ddp_rabu_011012210_SI06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
p1 = {'nama':'Budi','produk': 'TV', 'jumlah': 3}
p2 = {'nama':'Ani','produk': 'AC','jumlah': 4}
p3 = {'nama':'Siti','produk': 'Kulkas','jumlah': 2}
p4 = {'nama':'Dewi','produk': 'AC','jumlah': 5}
p5 = {'nama':'Andi','produk': 'Kulkas','jumlah': 7}
p6 = {'nama':'Dedi','produk': 'AC','jumlah': 1}
p7 = {'nama':'Sri','produk': 'TV','jumlah': 4}

ar_pelanggan =[p1,p2,p3,p4,p5,p6,p7]

for pelanggan in ar_pelanggan:
  for p in pelanggan:
    #harga satuan
    if pelanggan ['produk'] == 'TV':
      harga_satuan =5000000
    elif pelanggan ['produk'] == 'AC':
      harga_satuan =6000000
    else:
      harga_satuan =700000

    #harga kotor 
    harga_kotor = pelanggan['jumlah'] * harga_satuan

    #diskon
    if pelanggan['jumlah'] >=3 and pelanggan ['produk'] == 'kulkas':
      diskon =0.2 * harga_kotor
    else:
      diskon =0.05 * harga_kotor
      
    #PPN
    ppn = 0.11 * (harga_kotor - diskon)
    
    #harga bayar
    harga_bayar = (harga_kotor + ppn) - diskon
    print(p,':',pelanggan[p])
    
  print('harga satuan\t:',harga_satuan,
      '\nharga kotor\t:',harga_kotor,
      '\ndiskon\t\t:',diskon,
      '\nPPN\t\t\t:',ppn,
      '\nharga bayar\t:',harga_bayar,
      '\n-------------------------------')

nama : Budi
produk : TV
jumlah : 3
harga satuan	: 5000000
harga kotor	: 15000000
diskon		: 750000.0
PPN			: 1567500.0
harga bayar	: 15817500.0
-------------------------------
nama : Ani
produk : AC
jumlah : 4
harga satuan	: 6000000
harga kotor	: 24000000
diskon		: 1200000.0
PPN			: 2508000.0
harga bayar	: 25308000.0
-------------------------------
nama : Siti
produk : Kulkas
jumlah : 2
harga satuan	: 700000
harga kotor	: 1400000
diskon		: 70000.0
PPN			: 146300.0
harga bayar	: 1476300.0
-------------------------------
nama : Dewi
produk : AC
jumlah : 5
harga satuan	: 6000000
harga kotor	: 30000000
diskon		: 1500000.0
PPN			: 3135000.0
harga bayar	: 31635000.0
-------------------------------
nama : Andi
produk : Kulkas
jumlah : 7
harga satuan	: 700000
harga kotor	: 4900000
diskon		: 245000.0
PPN			: 512050.0
harga bayar	: 5167050.0
-------------------------------
nama : Dedi
produk : AC
jumlah : 1
harga satuan	: 6000000
harga kotor	: 6000000
diskon		: 300000.0
PPN			: 627000.0
harga bayar	: 6327000.0
-------------------------------
nama : Sri
produk : TV
jumlah : 4
harga satuan	: 5000000
harga kotor	: 20000000
diskon		: 1000000.0
PPN			: 2090000.0
harga bayar	: 21090000.0
-------------------------------